{% load i18n static staticfiles notifications_tags %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}">
{% block extrastyle %}{% endblock %}
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}">{% endif %}
{% block extrahead %}{% endblock %}
{% block responsive %}
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive.css" %}">
    {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive_rtl.css" %}">{% endif %}
{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
  data-admin-utc-offset="{% now "Z" %}">

<!-- Container -->
<div id="container">

    {% if not is_popup %}
    <!-- Header -->
    <div id="header">
        <div id="branding">
            {# if request.user.is_authenticated and request.user.is_superuser #}
            <div id="header-logo">
                <a class="icon-logo" href="/admin"><img src="{% static 'images/HCCR_Logo.png' %}" /><span>django CMS</span></a>
            </div>
            {# endif #}
{#          <h1>{% trans 'CCRH' %}</h1>#}
            <ul id="site-name" class="toolbar-item toolbar-item-navigation">
                <li>
                    <a class="menu-item" href="">{% trans 'CCRH' %}</a>
                    <ul class="submenu">
                        <li>
                            <a href="/en/admin/logout/">
                                <span>{% trans 'Log out' %}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div id="header-btn">
                <a href="/" class="icon-arrow-right btn js-header-link">
                    {% trans 'Open ccrh.com' %}
                </a>
            </div>
        </div>
        {% block usertools %}
        {% if has_permission %}
        <div id="user-tools" class="image_size">
            <span class="hide_in_mble click_menu">{% trans 'Welcome ' %}
                <strong>{% firstof user.get_short_name user.get_username %}</strong></span>
            <a class="noti_welcm" href="{% url 'notifications:all' %}">
                <svg class="svg_noti" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="699.428px" height="699.428px" viewBox="0 0 699.428 699.428" style="enable-background:new 0 0 699.428 699.428;" xml:space="preserve">
                    <path d="M618.666,487.262c-42.119-36.414-72.238-133.176-72.238-246.833c0-86.03-55.298-158.967-132.235-185.676     C409.013,23.715,382.216,0,349.714,0c-32.501,0-59.298,23.715-64.479,54.752C208.298,81.461,153,154.399,153,240.429     c0,113.636-30.097,210.374-72.238,246.833c-23.518,20.35-37.048,49.9-37.048,81.023c0,36.219,29.354,65.572,65.571,65.572     h174.857c0,36.217,29.354,65.57,65.571,65.57c36.217,0,65.571-29.354,65.571-65.57h174.857c36.217,0,65.571-29.354,65.571-65.572     C655.714,537.184,642.206,507.611,618.666,487.262z M109.285,568.285c0-12.064,5.246-23.539,14.36-31.43     c58.555-50.621,94.925-164.213,94.925-296.427c0-72.325,58.818-131.143,131.143-131.143s131.143,58.818,131.143,131.143     c0,132.214,36.37,245.806,94.926,296.427c9.137,7.912,14.36,19.365,14.36,31.43H109.285z"/>
                </svg>{% notifications_unread as unread_count %}
                    {% if unread_count %}{% live_notify_badge %}{% endif %}
            </a>
            {% block welcome-msg %}
                <div class="mobile_usr_pic click_menu"><img src="{% static 'images/user.svg' %}" /></div>
            {% endblock %}
            {% block userlinks %}
            <ul class="admin_right_menu">
                {% if user.is_active and user.is_staff %}
                    {% url 'django-admindocs-docroot' as docsroot %}
                    {% if docsroot %}
                        <li><a href="{{ docsroot }}">{% trans 'Documentation' %}</a></li>
                    {% endif %}
                {% endif %}
                {% if user.has_usable_password %}
                     <li><a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a></li>
                {% endif %}
                <li><a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a></li>
            </ul>
            {% endblock %}
        </div>
        {% endif %}
        {% endblock %}
        {% block nav-global %}{% endblock %}
    </div>
    <!-- END Header -->
    <div class="admin_default_heading">
         <div class="container">
        {% block pretitle %}{% endblock %}
        {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
        {% block breadcrumbs %}
        <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        {% if title %} &rsaquo; {{ title }}{% endif %}
        </div>
        {% endblock %}
        </div>
    </div>
    {% endif %}

    {% block messages %}
        {% if messages %}
        <ul class="messagelist">{% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
        {% endfor %}</ul>
        {% endif %}
    {% endblock messages %}

    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% block content %}
        {% block object-tools %}{% endblock %}
        {{ content }}
        {% endblock %}
        {% block sidebar %}{% endblock %}
        <br class="clear">
    </div>
    <!-- END Content -->

    {% block footer %}<div id="footer"></div>{% endblock %}
</div>
<!-- END Container -->

</body>
</html>

<script src="{% static 'js/libraries/jquery-3.3.1.min.js' %}"></script>

<script>
     /******** For On click of Name, displaying logout options - Starts ********/
    $(function() {
      $(".click_menu").on("click", function(e) {
        if ($('.admin_right_menu').hasClass('open')){
            $('.admin_right_menu').removeClass('open').hide();
        }else{
            $('.admin_right_menu').addClass('open').show();
            e.stopPropagation()
        }
      });
      $(document).on("click", function(e) {
        if ($(e.target).is(".click_menu") === false) {
          $('.admin_right_menu').removeClass('open').hide();
        }
      });
    });
 /******** For On click of Name, displaying logout options - Ends ********/
</script>

