{% load i18n %}{% autoescape off %}

<p>Hi {{ user.get_full_name|upper }},</p>

<p>You are receiving this email because you requested for a password reset for your account with CCRH-HCCR Portal.</p>

<p>{% trans "Please click on the link below to reset your password:" %}</p>

{% if reset_password_url %}
<p>{{reset_password_url}}</p>
{% else %}
<p>{{ protocol }}://{{ domain }}{% url 'user:password_reset_confirm' uidb64=uid token=token %}</p>
{% endif %}

<p>{% trans "If clicking the aforsaid link does not work, please copy it and paste the URL in a new browser window." %}</p>

<p>{% trans "Thank you" %}</p>

<p>{% blocktrans %}Team CCRH{% endblocktrans %}</p>

{% endautoescape %}