{% extends 'base.html' %}
{% load i18n staticfiles %}
{% block breadcrumbs %}
    {% trans 'Change Password' %}
{% endblock %}
{% block content %}       
        <div class="banner_section1 change_password_section changePassword_block">
            <div class="login_section">
                <div id="alert_msg" class="alert alert-success alert-dismissible fade show" role="alert" style="display: none;">
                    <div id="alert_msg_strong"></div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    {% for field in form %}
                        {% for error in field.errors %}
                                <span>{{ error|escape }}</span><br />
                        {% endfor %}
                    {% endfor %}
                     </div>
                {% endif %}
                <form class="login_form_container" id="chang_pswd" action="{% url 'user_profile:change_password' %}" method="post">{% csrf_token %}
                    <div class="row">
                        <div class="col-12">
                            <div class="login_form">
                                <h2>{% trans 'Change Password' %}</h2>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 d-flex">
                            <div class="login_form login_form_left">
                                <div class="form-group">
                                    <label class="email_address"><span>{% trans 'Curent Password' %}</span>
                                          {{ form.old_password }}
                                          {% if form.old_password.errors %}<label id="old_pass-error" class="error oldpswd_err" for="old_pass" style="list-style: none;">{{ form.old_password.errors }}</label>{% endif %}
{#                                        <span class="mail_icon"><img src={% static "images/lock.svg" %}#}
{#                                                alt="enter the password"></span>#}
{#                                        <span class="eye_icon"><img data-info="oldpassword" class="show_password" src={% static "images/eye.svg" %}#}
{#                                                alt="press the eye password"></span>#}
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="email_address"><span>{% trans 'New Password' %}</span>
                                        {{ form.new_password1 }}
{#                                        <span class="mail_icon"><img src={% static "images/lock.svg" %}#}
{#                                                alt="enter the password"></span>#}
{#                                        <span class="eye_icon"><img data-info="newpassword1" class="show_password" src={% static "images/eye.svg" %}#}
{#                                                alt="press the eye password"></span>#}
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="email_address"><span>{% trans 'Confirm Password' %}</span>
                                         {{ form.new_password2 }}
{#                                        <span class="mail_icon"><img src={% static "images/lock.svg" %}#}
{#                                                alt="enter the password"></span>#}
{#                                        <span class="eye_icon"><img data-info="newpassword2" class="show_password" src={% static "images/eye.svg" %}#}
{#                                                alt="press the eye password"></span>#}
                                    </label>
                                </div>
                                <div class="sign_in d-flex justify-content-between">
                                    <input type="submit" value={% trans "Change" %} class="signin_button  forgetpassbtn">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 d-flex">
                            <div class="change_password_content">
                                <p>{% trans 'Password must contain:' %}</p>
                                <ul>
                                    <li>{% trans 'At least 1 Upper Case Letter (A-Z)' %}</li>
                                    <li>{% trans 'At least 1 Lower Case Letter (a-z)' %}</li>
                                    <li>{% trans 'At least 1 Number (0-9)' %}</li>
                                    <li>{% trans 'At least 1 Symbol' %} (()[]{}|\`~!@#$%^&*_-+=;:'",<>./?)</li>
                                    <li>{% trans 'At least 8 Characters' %}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>


 {% endblock %}

{% block custom-js %}

/********* After password change displaying success message - starts *******/
    {% if note %}  
    $("#alert_msg_strong").html("{{ note }}");
    $("#alert_msg").css("display", "block");
    {% endif %}
/********* After password change displaying success message - ends *******/

{% endblock %}