{% load i18n staticfiles %}
<!-- footer section starts -->
        <footer>
            <div class="footer_container">
                <div class="container">
                    <div class="navigate_sector_container">
                        <div class="row">
                            <div class="col-sm-3 col-md-12 col-lg-12 navigation">
                                <div class="navigation_block footer_submenu">
                                    <div class="footer_navigation_list row">
                                        <div class="col-sm-6 col-md-3 col-lg-3">
                                            <div class="aboutus_footer">
                                                <p><a href="#">About Us</a></p>
                                                <ul class="list-unstyled">
                                                    <li class="item"><a href="#">Aims & Scope</a></li>
                                                    <li class="item"><a href="#">Editoral/ Reveiwer's Board</a></li>
                                                    <li class="item"><a href="#">Why to publish at HCCR</a></li>
                                                    <li class="item"><a href="#">Authors Incentives</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-3 col-lg-3">
                                            <div class="aboutus_footer">
                                                <p><a href="#">Why publish in HCCR</a></p>
                                                <ul class="list-unstyled items">
                                                    <li class="item"><a href="#">Advantages of HCCR</a></li>
                                                    <li class="item"><a href="#"> International Case Reporting
                                                            Guidelines</a></li>
                                                    <li class="item"><a href="#">Loyalty Programme</a></li>
                                                    <li class="item"><a href="#">Badges for Physicians</a>
                                                    </li>
                                                    <li class="item"><a href="#">Badges for Clinics</a></li>
                                                    <li class="item"><a href="#">Scientific Misconduct</a></li>
                                                    <li class="item"><a href="#">Chance to Get Published</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-3 col-lg-3">
                                            <div class="aboutus_footer">
                                                <p><a href="#">Submission Guidelines</a></p>
                                                <ul class="list-unstyled items">
                                                    <li class="item"><a href="#">Case Recording Template Format</a></li>
                                                    <li class="item"><a href="#">Patient Consent Formats</a></li>
                                                    <li class="item"><a href="#">Follow Up Formats </a></li>
                                                    <li class="item"><a href="#">Patient Outcome Scales </a></li>
                                                    <li class="item"><a href="#"> Terms and Conditions</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-3 col-lg-3">
                                            <div class="aboutus_footer">
                                                <p><a href="#">Data and Tools</a></p>
                                                <p><a href="#">E-Tutorials</a></p>
                                                <p><a href="#">FAQ</a></p>
                                                <p><a href="#">Contact Us</a></p>
                                                <p><a href="#">Website Policies</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6 connnect_with_us">
                                <div class="navigation_block2">
                                    <p class="navigation_section">Connect with Us</p>
                                    <ul class="list-unstyled">
                                        <li class="address">
                                            <p class="sub_heading">CCRH HEADQUARTERS</p><span> 61-65, Institutional
                                                Area,<br>Janakpuri, New Delhi - 110058, India</span>
                                        </li>
                                        <li>
                                            <p>Telephone :</p>&nbsp;&nbsp;<span>91-11-28525523, 28521162</span>
                                        </li>
                                        <li>
                                            <p>Fax :</p>&nbsp;&nbsp;<span> 91-11-28521060, 28521162</span>
                                        </li>
                                        <li>
                                            <p>E-mail :</p>&nbsp;&nbsp; <span>ccrhindia@gmail.com</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3 col-lg-3 d-flex">
                                <div class="footer_update">
                                    <span>Last Updated: May 4, 2020</span>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3 col-lg-3 social_media_container">
                                <div class="social_media_icons">
                                    <ul class="list-unstyled">
                                        <li><a href="#"><img src="images/footer_twitter.svg" alt="footer_twitter"></a>
                                        </li>
                                        <li><a href="#"><img src="images/footer_facebook.svg" alt="facebook"></a></li>
                                        <li><a href="#"><img src="images/footer_youtube.svg" alt="footer_youtube"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_bottom">
                <div class="container">
                    <div class="help_line">
                        <p>
                            <a href="#">Accessibility Option </a>|
                            <a href="#">Sitemap </a>|
                            <a href="#">Disclaimer </a>|
                            <a href="#">Copyright Policy </a>|
                            <a href="#">Terms & Conditions </a>|
                            <a href="#">Privacy Policy </a>|
                            <a href="#">Hyper Linking Policy </a>|
                            <a href="#">Help </a>
                        </p>
                        <p>Central Council for Research in Homoeopathy. Ministry of AYUSH, Govt. of India</p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer section ends -->

